*{box-sizing: border-box;}

body{
    background-color: #2F4858;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
     /*reset the body font to 10px*/
    
}
#content-wrapper{ /*this is a CSS ID selector*/
    background-color:honeydew; 
    font-size: 1.2rem;/* represent 12pixel font size*/
    max-width:1100px;
    /*css trick to center a containing div*/
    /*the div needs a width*/
    margin:0 auto;/*maring top and bottom of zero, left and right automatic*/
    padding:10px;
    
}

/* Style the header */
header {
  display: flex;
  justify-content: space-around;
  background-color: #677987;
  padding: 30px;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.4rem;
  background-color: #9BAEBC;
  color: #fff;
  padding: 10px;
 }
 .nav-links a {
  color: #fff;
 }
 /* LOGO */
 .logo {
  font-size: 32px;
  
 }
 .logo2 {
  font-size: 32px;
 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 1.2rem;
  list-style-type: none;
 }
 .menu li:hover {
  background-color: #2F4858;
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
 }
 /* DROPDOWN MENU */
 .services {
  position: relative; 
 }
 .dropdown {
  background-color: #374955;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 30px;
  list-style-type: none;
 }
 .dropdown li + li {
  margin-top: 10px;
 }
 .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }
 .dropdown li:hover {
  background-color: #4c9e9e;
 }
 .services:hover .dropdown {
  display: block;
 }

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
  gap:5px;
  padding: 5px;
}

/* Create three equal columns that sits next to each other */
.column {
background-color:#677987;
  flex: 1;
  padding: 10px;
 
}


/* Style the footer */
footer {
  background-color: #9BAEBC;
  padding: 10px;
  
  text-align: center;

}

/* Styling inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  }
  input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
   border: none;
   cursor: pointer;
  }
  input[type=submit]:hover {
   background-color: #45a049;
  }
  /* Styling the contact container */
  .contact-container {
   background-color: #f2f2f2;
   padding: 10px;
  }
  /* Clear floats after the columns */
  .row:after {
   content: "";
  display: table;
   clear: both;
  }
  /* Create two columns that float next to each other */
  .column {
  float: left;
   padding: 10px;
  }
  .column50 {
  width: 50%;
  }

  .underline {
    background: linear-gradient(90deg, #2F4858 0%, #F1F1E6 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.4rem;
    background-position: 0 90%;
    transition: all 0.35s ease-in-out;
  }
 
  .underline:hover {
    background-size: 100% 90%;
  }



  /* Responsive layout - when the screen is less than 600px wide, make the two columns 
  stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
   .column, input[type=submit] {
   width: 100%;
   margin-top: 0;
   }
  }
  




/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {

    flex-direction: column;
    
  }
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }
 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
 .menu { 
  display:none;
  position: absolute;
  background-color:teal;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  background-color:#4c9e9e;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
 .dropdown {
  left: 50%;
  top: 30px;
  transform: translateX(35%);
 }
 .dropdown li:hover {
  background-color: #4c9e9e;
 }
 .error-message{
   font-size:0.8rem;
   color:red;
 }



}